.moviecontainer {
  width: 70%;
  height: auto;
  display: grid;
  margin: 1rem 1rem auto;
  align-content: center;
  text-align: center;
  grid-template-columns: 2fr 4fr;
}

.moviecontainer img {
  height: 20rem;
}

.link {
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  background-color: rgb(24, 108, 114);
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 0.75rem;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

.link:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* MOBILE DEVICES */
@media only screen and (max-width: 480px) {
  .link {
    height: 6.5rem;
  }
}

/* TABLETS */
@media only screen and (min-width: 481px) {
  .link {
    height: 5.5rem;
  }
}

/* SMALL SCREENS AND UP */
@media only screen and (min-width: 768px) {
  .link {
    height: 2.5rem;
  }
}
