.searchfield {
  margin: 0.5rem auto;
  text-align: center;
}

.searchinput {
  width: 25%;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: left;
}

/* MOBILE DEVICES */
@media only screen and (max-width: 480px) {
  .searchinput {
    width: 50%;
  }
}

/* TABLETS */
@media only screen and (min-width: 481px) {
  .searchinput {
    width: 40%;
  }
}

/* SMALL SCREENS AND UP */
@media only screen and (min-width: 768px) {
  .searchinput {
    width: 25%;
  }
}
